@model IEnumerable<VeterLab.Models.Detalle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Folio)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FechaRecepcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaEntrega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadMuestras)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Folio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaRecepcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaEntrega)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadMuestras)
        </td>
        <td>

            @Html.ActionLink("Ver", "Details", new { /* id=item.PrimaryKey */ }) |

        </td>
    </tr>
}

</table>
